@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap 3 Page Header</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="bs-example">
        <div class="page-header">
            <h1>Pinterest <small>no man will claim to use this either</small></h1>
        </div>
    </div>
</body>
</html>   
<br/>
<br />
<hr/>
<input type="text" ng-model="web" placeholder="web link here">
<input type="text" ng-model="image" placeholder="image link here">

<button ng-click="post">Post</button>


<hr />
<br />
<br />


<hr />


@*

1.make a post
2.  need a create new post button.
3.  link to create new post view
4.  new post need user user image user weblink user comment
5.

*@












